* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  list-style: none;
}

/*VARIABLES AND SETTINGS*/

:root {
  --hue: 240;
  --nav-color: hsl(var(--hue) 7% 78%);
  --text-color: hsl(var(--hue) 9% 89%);
  --bg-nav-color: hsl(calc(var(--hue) + 8) 100% 11%);
  --hover-color: #ffffff;

  font-size: 62.5%;
}

.mountain {
  background-image: url(/assets/mountains-universe-2.png);
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  z-index: -100;
}

.wrapper {
  width: 37.5rem;
  margin: auto;
  padding: 2rem;
}

body {
  display: grid;
  min-height: 100vh;
}

.textContainer {
  display: grid;
  justify-self: center;
  gap: 2.4rem;
  margin-top: 6.3rem;
}

.title {
  text-align: start;
  font-size: 4.8rem;
  color: var(--text-color);
}

.text {
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: var(--text-color);
}

@media (min-width: 760px) {
  .wrapper {
    width: 76rem;
  }

  .text {
    width: 64.8rem;
  }

  .textContainer {
    margin-top: 0;
  }
}
